/* ==============================================================================
                                  Testimonial Css Start
================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --HankenGrotesk: "Hanken Grotesk", sans-serif;
  --NotoSans: "Noto Sans", sans-serif;
}

.testimonial {
  background: #ffffff;
  padding: 200px 0;
}

.testimonial__title {
  color: #000;
  text-align: center;
  font-family: var(--NotoSans);
  font-size: 52px;
  font-weight: 700;
  position: relative;
}

.testimonial__title::after {
  z-index: 1;
  position: absolute;
  top: 93px;
  left: 538px;
  content: "";
  width: 89px;
  height: 3px;
  border-radius: 1000px;
  background: linear-gradient(90deg, #7c14fd 1.09%, #7c14fd4a 99.99%);
}

.testimonial__wraper {
  display: flex;
  align-items: center;
  background: #fff;
  filter: drop-shadow(0px 69px 114px #7c14fd14);
  padding: 128px 190px;
  justify-content: center;
}

.square {
  width: 253px;
  height: 292px;
  border-radius: 8px;
  background: #fc5a5a;
  position: relative;
}

.testimonial__left {
  position: relative;
}

.quote {
  position: absolute;
  bottom: -45px;
  padding-left: 27px;
}

.testimonial__Strategy {
  color: #32046b;
  font-family: var(--HankenGrotesk);
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.2px;
  width: 633px;
}
.testimonial__Speach {
  color: #7c14fd;
  font-family: var(--HankenGrotesk);
  font-size: 20px;
  font-weight: 600;
  padding-top: 45px;
}

.testimonial__right {
  padding-left: 56px;
}

.testimonia__icon {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  font-size: 20px;
  color: #32046b;
}

.left__icon {
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  cursor: pointer;
}

.left__icon:hover {
  transform: translateX(-15%);
  color: #959ead;
  -webkit-transform: translateX(-15%);
  -moz-transform: translateX(-15%);
  -ms-transform: translateX(-15%);
  -o-transform: translateX(-15%);
}

.right__icon {
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  cursor: pointer;
}

.right__icon:hover {
  transform: translateX(15%);
  color: #959ead;
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -ms-transform: translateX(15%);
  -o-transform: translateX(15%);
}
/* ==============================================================================
                                  Testimonial Css ENd
================================================================================*/
